config.yml

# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# dont show raw data and database files
0_data/database/
0_data/raw/strava/
0_data/raw/whoop/